# Dependencies
node_modules
.pnpm-store
.npm
.yarn
.pnp
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
/.next
/out
/dist
/coverage

# Cache
/.turbo
/.vercel
/.cache
.eslintcache
.stylelintcache
tsconfig.tsbuildinfo

# IDE/editor
.vscode
.idea
*.swp
*.swo
*~

# Env
.env.development
.env.example

# Git
.git
.gitignore

# Docs
/docs
README*.md

# OS/logs
.DS_Store
*.log
