<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArticleTagMapper">
    <select id="selectTagIdsByArticleId" resultType="java.lang.Long">
        SELECT tag_id FROM article_tag
        WHERE article_id = #{articleId}
    </select>

    <select id="selectArticleIdsByTagId" resultType="java.lang.Long">
        SELECT article_id FROM article_tag
        WHERE tag_id = #{tagId}
    </select>

    <delete id="deleteByArticleId">
        DELETE FROM article_tag WHERE article_id = #{articleId}
    </delete>

    <select id="selectByArticleIds" resultType="com.blog.model.entity.ArticleTag">
        SELECT *
        FROM article_tag
        WHERE article_id IN
        <foreach item="articleId" collection="articleIds" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </select>
</mapper>

