<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.modules.content.picture.mapper.PictureMapper">
    <select id="selectByAlbumId" resultType="com.blog.modules.content.picture.model.entity.Picture">
        SELECT * FROM picture
        WHERE album_id = #{albumId}
        AND deleted = 0
        ORDER BY create_time ASC
    </select>

    <select id="countByAlbumId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM picture
        WHERE album_id = #{albumId}
        AND deleted = 0
    </select>
</mapper>

